{% if enhancers %}
<table>
  <thead>
    <tr>
      <th rowspan="2">Enhancer ID</th>
      <th rowspan="2">Enhancer Length</th>
      <th rowspan="2">Activity Score</th>
      <th rowspan="2">Experimental Condition</th>
      <th rowspan="2">Gene Symbol</th>
        <th colspan="3"><strong>TPM Values</strong></th>
      <th rowspan="2">Immune Process</th>
      <th rowspan="2">Time Cluster</th>
    </tr>
    <tr>
      <th>Control</th>
      <th>IMD</th>
      <th>20E</th>
    </tr>
  </thead>

  <tbody>
    {% for e in enhancers %}
      {% for g in e.gene_interactions %}
      <tr>
        {% if loop.first %}
          <td rowspan="{{ e.gene_interactions|length }}">{{ e.enhancer_id }}</td>
          <td rowspan="{{ e.gene_interactions|length }}">{{ e.en_length }}</td>
          <td rowspan="{{ e.gene_interactions|length }}">{{ e.act_score }}</td>
          <td rowspan="{{ e.gene_interactions|length }}">{{ e.exp_condition }}</td>
        {% endif %}
          <td>{{ g.gene_symbol }}</td>
          <td>{{ g.tpm_ctrl }}</td>
          <td>{{ g.tpm_imd }}</td>
          <td>{{ g.tpm_20e }}</td>
          <td>{{ g.immune_process or 'None' }}</td>
          <td>{{ g.time_cluster or 'None' }}</td>
      </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% else %}
  <p>No enhancers found.</p>
{% endif %}
