<!DOCTYPE html>
<html>
    <head>
        <title>Large-scale Enhancer Screen Database</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='design.css') }}">
    </head>
    <body>

        <!-- tab -->
        <div class="tabs">
            <div class="tab active" data-target="#introduction">
                <b>Introduction</b>
            </div>
            <div class="tab" data-target="#enhancer-search">
                <b>Enhancer→Gene</b>
            </div>
            <div class="tab" data-target="#gene-search">
                <b>Gene→Enhancer</b>
            </div>
        </div>

        <h1 id="title">Large-scale Enhancer Screen Database</h1>

        <!-- Introduction -->
        <div id="introduction" class="tab-content active">
            <p id="description">
                This is Wunderlich Lab's web platform for querying and visualizing enhancer–gene associations using STARR-seq datasets from <i>Drosophila melanogaster</i>. It helps explore how enhancers regulate gene expression across different experimental conditions.
            </p>

            <ul>
                <li>Search by enhancer region or gene symbol/ID</li>
                <li>Filter results by activity score or experimental condition</li>
                <li>View results in interactive tables and histograms</li>
            </ul>

            <div class="info-boxes">
                <div class="info-box">
                    <h4>Enhancer → Gene</h4>
                    <p>
                        <b>Input:</b> Chromosome, Start, End <br><br>
                        <b>Output:</b> A table of all genes linked to enhancers in the specified region. Includes gene symbol, enhancer ID, associated ORF, immune process, time cluster, and other annotations.
                    </p>
                </div>
                <div class="info-box">
                    <h4>Gene → Enhancer</h4>
                    <p>
                        <b>Input:</b> One of the following: gene symbol, gene ID, or chromosomal region (chromosome, start, end). <br><br>
                        <i>Optional filters:</i> activity score threshold, experimental condition.<br><br>
                        <b>Output:</b> A table of associated enhancers with scores and annotations. If one condition is selected, a histogram of enhancer activity scores is also shown.
                    </p>
                </div>
            </div>
        </div>


        <!-- Enhancer→Gene -->
        <div id="enhancer-search" class="tab-content">

            <h4>Please specify the chromosomal region that contains your enhancer(s) of interest (e.g. 2L, start: 10426653, end: 10427192).</h4>
            <!-- form -->
            <form id="enhancer-form" name="enhancer_form" action="/submit_enhancer" method="POST">

                <label>
                    Chromosome:
                    <select name="chr" id="enhancer_chr">
                        <option value="2L">2L</option>
                        <option value="2R">2R</option>
                        <option value="3L">3L</option>
                        <option value="3R">3R</option>
                        <option value="4">4</option>
                        <option value="X">X</option>
                        <option value="Y">Y</option>
                    </select>
                </label>

                <label>
                    Start:
                    <input type="number" id="enhancer_start" name="start">
                </label>

                <label>
                    End:
                    <input type="number" id="enhancer_end" name="end">
                </label>

                <button type="submit">Submit</button>

            </form>

            <!-- results will be displayed here -->
            <div id="enhancer-results"></div>

        </div>

        <!-- Gene→Enhancer -->
        <div id="gene-search" class="tab-content">

            <h4>Please enter a gene of interest, either symbol (eg, Abd-B) or gene ID (eg. FBgn0000119), or chromosomal region (e.g. 2L, start: 10426653, end: 10427192)</h4>

            <form id="gene-form" name="gene_form" action="/submit_gene" method="POST">

                <!-- Input Row: Symbol, ID, Chromosome -->
                <div style="display: flex; align-items: center; gap: 100px; margin-bottom: 10px;">
                    <div>
                        <label>Gene Symbol:<br>
                            <input type="text" id="symbol" name="symbol">
                        </label>
                    </div>

                    <div style="display: flex; align-items: center; height: 100%;">
                        <span style="font-weight: bold;">or</span>
                    </div>

                    <div>
                        <label>Gene ID:<br>
                            <input type="text" id="geneid" name="geneid">
                        </label>
                    </div>

                    <div style="display: flex; align-items: center; height: 100%;">
                        <span style="font-weight: bold;">or</span>
                    </div>

                    <div>
                        <label>Chromosomal Location:<br>
                            <select name="chr" id="chr">
                                <option value="">--</option>
                                <option value="2L">2L</option>
                                <option value="2R">2R</option>
                                <option value="3L">3L</option>
                                <option value="3R">3R</option>
                                <option value="4">4</option>
                                <option value="X">X</option>
                                <option value="Y">Y</option>
                            </select>
                            Start: <input type="number" id="start" name="start" style="width: 80px;">
                            End: <input type="number" id="end" name="end" style="width: 80px;">
                        </label>
                    </div>
                </div>


                <!-- Filters Row -->
                <div>
                    <p><b>Optional Filters</b></p>
                    <div style="margin-bottom: 1rem;">
                    <label>
                        Activity Score Threshold:
                        <input type="number" id="activity_score" name="activity_score" value="500" min="0" max="1000">
                    </label>

                    <label style="margin-left: 2rem;">
                        Condition:
                        <select name="condition" id="condition">
                            <option value="">-- All --</option>
                            <option value="Control">Control</option>
                            <option value="HKSM">HKSM</option>
                            <option value="E20">E20</option>
                        </select>
                    </label>
                </div>
                </div>

                <button type="submit">Submit</button>
            </form>


            <!-- results will be displayed here -->
            <div id="gene-results"></div>

        </div>

        <!-- load the jQuery library -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

        <script>
            // Switching tabs
            $('.tab').click(function(){
                var tgt = $(this).data('target');

                // tab active
                $('.tab').removeClass('active');
                $(this).addClass('active');

                // contents active
                $('.tab-content').removeClass('active');
                $(tgt).addClass('active');
            });

            // enhancer→Gene（AJAX）
            $('#enhancer-form').on('submit', function(e){
                e.preventDefault();
                $.post(
                '/submit_enhancer',
                $(this).serialize()
                ).done(function(html){
                $('#enhancer-results').html(html);
                });
            });

            // gene→enhancer（AJAX）
            $('#gene-form').on('submit', function(e){
                e.preventDefault();
                $.post(
                '/submit_gene',
                $(this).serialize()
                ).done(function(html){
                $('#gene-results').html(html);
                });
            });

        </script>

    </body>
</html>
